<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GitOpgaveU45Forms.Properties.Settings.kaspermark_dk_db_datamatikerConnectionString"
            connectionString="Data Source=mssql6.unoeuro.com;Initial Catalog=kaspermark_dk_db_datamatiker;Persist Security Info=True;User ID=kaspermark_dk;Password=69qom3u9PW"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>